<div class="tabs-pic">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a data-target="#content1" role="tab" data-toggle="tab" data-container="true">Content 1</a>
		</li>
		<li role="presentation">
			<a data-target="#content2" role="tab" data-toggle="tab" data-container="true">Content 2</a>
		</li>
		<li role="presentation">
			<a data-target="#content3" role="tab" data-toggle="tab" data-container="true">Content 3</a>
		</li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content1">
			<div data-container="true" data-replace="true">Content 1</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="content2">
			<div data-container="true" data-replace="true">Content 2</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="content3">
			<div data-container="true" data-replace="true">Content 3</div>
		</div>
	</div>
</div>